body {
  display: block;
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  float: left;
  padding: 3px 2px;
  position: relative;
}
a {
  display: block;
  padding: 10px;
  background-color: #dddddd;
}

nav > ul > li ul {
  display: none;
}
li:hover > ul {
  display: block;
  top: 20px;
  left: 20px;
  margin-top: 20%;
  position: absolute;

  cursor: pointer;
}
li:hover > ul ul {
  left: 100%;
  top: 0;
  margin-top: 0;
}
li {
  position: relative;
}
section {
  color: rebeccapurple;
}
nav {
  position: fixed;
  top: 0;
}
main {
  margin-top: 60px;
}
